<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stroge Dev</title>
    <link rel="stylesheet" href="css/bootstrap5.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <nav class="navbar text-bg-light">
    <div class="container flex-items">
      <div class="navbar-header">
        <p class="navbar-brand">STROGE-DEV</p>
      </div>
      <ul class="nav navbar-nav navbar-right d-flex flex-row align-items-center gap-4">
        <li id="home"><a href="/" class="nav-link">HOME</a></li>
        <li id="about"><a href="/about" class="nav-link">ABOUT</a></li>
        <li id="contact"><a href="/contact" class="nav-link">CONTACT</a></li>
      </ul>
    </div>
  </nav>
  <body>
    <div class="container my-4">