<%- include("partials/header"); -%>
<div class="centralize">
    <h2 class="text-danger text-center">404 Not found!</h2>
    <p class="text-center">Seems you are lost. <br> Go back <a href="/">Home</a></p>
</div>
<%- include("partials/footer"); -%>