<%- include("partials/header"); -%>
<h2>About page</h2>
<p>Welcome to my About, I am Oluwatimileyin, a fullstack developer (Front-end Mostly), i have worked with and mastered different languages like Javascript, React, Next, PHP, NodeJS, Express, EJS and also HTML, CSS, TailwindCSS, Bootstrap. I am available for Hire, freelancing and collaborations, You can reach out to me at <a href="mailto:timmystroge75@gmail.com">Timmystroge75@gmail.com</a>,</p>
<%- include("partials/footer"); -%>