<%- include("partials/header"); -%>
<h2>Contact page</h2>
<p>Hi, I am available for Hire, freelancing and collaborations, You can reach out to me at <a href="mailto:timmystroge75@gmail.com">Timmystroge75@gmail.com</a></p>
<%- include("partials/footer"); -%>